body
{
	background: #D6D7BE;
	font-family: sans-serif;
}
.zero
{
	text-decoration: underline;
}
.five
{
	color: #522601;
}
.six
{
	color: #000000;
}
.seven
{
	color: #875327;
}
.eight
{
	color: #285501;
}